body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #AAAAFF;
  color: #000000;
}

a {
  color: #00B7FF;
}


.logging_element {
  display: none;
  height: 300px;
  max-height: 400px
}