html{
    height: 100vh;
    width: 100vh;
}

body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #00000000;
    color: #00B7FFFF;
}

a {
    color: #00B7FFFF;
}

.logging {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    height: calc(100% - 100px); /*30top+time height + time bottom offset*/
    width: calc(100% - 60px);
    max-height: calc(100% - 90px);
    color: antiquewhite;
    background-color: rgba(50, 50, 50, 0.7);
    font-weight: bold;
    padding: 5px;
    z-index: 50;
}

.serveripform {
    display: none;
    border-radius: 5px;
    background-color: #595959;
    box-shadow: black;
    position: absolute;
    width: 300px;
    height: 120px;
    top: calc(50% - 120px/2);
    left: calc(50% - 300px/2);
    color: white;
    padding: 10px;
    z-index: 99;
}

.IPEDIT {
    background-color: #00B7FF;
    color: black;
    box-sizing: border-box;
}

.textup {
    text-align: center;
    vertical-align: top;
}

.time {
    display: none;
    padding: 5px;
    background-color: rgba(100, 100, 100, 0.9);
    position: absolute;
    height: 30px;
    top: calc(100% - 60px);
    left: 30px;
    width: calc(100% - 60px);
    line-height: 30px;/*same as height */
    text-align: left;
    font-weight: bold;
    color: lightblue;
    z-index: 50;
}
